body {
    position: absolute;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

h1 {
  text-align: center;
}
h3{
    text-align: center;
}

td {
    vertical-align: top;
    position: relative;
    /*border:1px solid #000;*/
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}




element.style {
    position: relative;
}

div {
    display: block;
}

.bar-plot {
  /*width :500px !important;*/
  /*height:300px !important;*/
  /*margin: 100px;*/
}

.clear {
    clear: both;
}

.table-container {
    position: relative;
    max-width: 800px;
    width: 800px;
    margin: auto;
}


.majors-plot {
    width: 800px;
    height : 600px;
    max-width: 300px;
    max-height: 600px;
}

.surround-evolution {
    margin-top: 20px;
    width: 700px;
    height : 250px;
    max-width: 700px;
    max-height: 250px;
    float: left;
    padding-left: 30px;
}


.state{
    stroke: #333333;
}

.svg-container {
display: inline-block;
position: relative;
width: 100%;
padding-bottom: 100%;
vertical-align: middle;
float: left;
overflow: hidden;
}

.svg-content {
display: inline-block;
position: absolute;
top: 0;
left: 0;
}

#evolution_chart {
    width: 280px;
    height: 1600px;
}



#tooltip {
    position: absolute;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 2px;
    pointer-events: none;
    z-index: 1;
}
#tooltip h4{
    margin:0;
    font-size:14px;
}
#tooltip{
    background:rgba(0,0,0,0.9);
    border:1px orange;
    border-radius:5px;
    font-size:12px;
    width: 80px;
    padding:4px;
    color:white;
    opacity:0;
}
#tooltip table{
    table-layout:fixed;
}
#tooltip tr td{
    padding:0;
    margin:0;
}
#tooltip tr td:nth-child(1){
    width:50px;
}
#tooltip tr td:nth-child(2){
    text-align:center;
}
.section_map{
    position:relative;
    vertical-align: left;
    margin: 0px;
    z-index: 0;
    float: left;
}
.top_row{
    margin:0;
}

/* Caption + Toolbox*/

.viz_caption {
    position: relative;
    float: left;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    padding-left: 300px;
}

.toolbox {
    position: relative;
    float: right;
}
.toolbox-party {
    position: relative;
    float: left;
}

.tool-but {
    position: relative;
    float: left;
    color: #FFF;
    border: none;
    background-color: #D80027;
    outline: none;
    margin-right: 5px;
    height: 20pt;
    margin-top: 2px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px
}

.tool-but:hover {
    opacity: 0.9;
}

.label{
    margin-top: 2px;
    margin-right: 1px;
    height:30px;
    position: relative;
    text-align: center;
}
#congress-label{
    text-align: left;

}
.arrow{
    width:90px;
}
#congress-next{
    text-align: left;

}
#congress-prev{
    text-align: right;
}
/* Table container */

.table-container {
    position: absolute;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    margin: 0px;
}



