body {
    position: absolute;
    margin: 10px;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

canvas{

  width :500px !important;
  height:800px !important;

}

.bar-plot{
  width :800px !important;
  height:400px !important;
  margin: 100px;
}

.clear {
    clear: both;
}

element.style {
    position: relative;
}

div {
    display: block;
}

.table-container {
    position: relative;
    max-width: 1100px;
    width: 1100px;
    margin: auto;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

.majors-plot {
    width: 300px;
    height : 800px;
    max-width: 300px;
    max-height: 800px;
}

#evolution_chart {
    width: 670px;
    height: 280px;
}


.state{
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
}
.state:hover{
    stroke-width: 5;
}
.state:click{
    stroke-width: 10;
}
.svg-container {
display: inline-block;
position: relative;
width: 100%;
padding-bottom: 100%;
vertical-align: middle;
overflow: hidden;
}
.svg-content {
display: inline-block;
position: absolute;
top: 0;
left: 0;
}

#tooltip {
    position: absolute;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 2px;
    pointer-events: none;
    z-index: 1;
}
#tooltip h4{
    margin:0;
    font-size:14px;
}
#tooltip{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width: 80px;
    padding:4px;
    color:white;
    opacity:0;
}
#tooltip table{
    table-layout:fixed;
}
#tooltip tr td{
    padding:0;
    margin:0;
}
#tooltip tr td:nth-child(1){
    width:50px;
}
#tooltip tr td:nth-child(2){
    text-align:center;
}

.section_map{
    position:relative;
    vertical-align: middle;
    margin: auto;
    z-index: 0;
}
